body {
  overflow-x: hidden;
}

footer {
  text-align: center;
  color: #bebebe;
  font-weight: 300;
  margin-top: auto;
}

footer a {
  color: #bebebe;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: none;
}

nav {
  font-size: 18px !important;
  font-weight: 300;
}

#first p {
  padding: 40px 70px 70px 200px;
  font-size: 19px;
}

.container-fluid .h11 {
  margin: 70px 0 30px 210px;
}

.container-fluid .h12 {
  margin: 70px 0 30px 0;
}

.container-fluid .divimg {
  width: 70%;
}

.container-fluid .divimg img {
  border-radius: 100%;
  width: 80%;
  margin-left: 7%;
  margin-bottom: 50px;
}

.col-sm-3 {
  width: 50% !important;
}

.row_skills p {
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
}

#third {
  background-color: #606265;
  padding: 0 130px 102px 130px;
  margin: 0 0 -120px 0;
  color: #fff;
}

.progress {
  width: 150px;
  height: 150px;
  line-height: 150px;
  background: none;
  margin: 0 auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-animation: loading-100 1.0s linear forwards;
          animation: loading-100 1.0s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: transparent;
  font-size: 24px;
  color: #fff;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.blue .progress-bar {
  border-color: #049dff;
}

.progress.blue.progress-100 .progress-left .progress-bar {
  -webkit-animation: loading-100 1.0s linear forwards 1.0s;
          animation: loading-100 1.0s linear forwards 1.0s;
}

.progress.blue.progress-90 .progress-left .progress-bar {
  -webkit-animation: loading-90 1.0s linear forwards 1.0s;
          animation: loading-90 1.0s linear forwards 1.0s;
}

.progress.blue.progress-80 .progress-left .progress-bar {
  -webkit-animation: loading-80 1.0s linear forwards 1.0s;
          animation: loading-80 1.0s linear forwards 1.0s;
}

.progress.blue.progress-70 .progress-left .progress-bar {
  -webkit-animation: loading-70 1.0s linear forwards 1.0s;
          animation: loading-70 1.0s linear forwards 1.0s;
}

.progress.blue.progress-60 .progress-left .progress-bar {
  -webkit-animation: loading-60 1.0s linear forwards 1.0s;
          animation: loading-60 1.0s linear forwards 1.0s;
}

.progress.blue.progress-50 .progress-left .progress-bar {
  -webkit-animation: loading-50 1.0s linear forwards 1.0s;
          animation: loading-50 1.0s linear forwards 1.0s;
}

.progress.blue.progress-40 .progress-left .progress-bar {
  -webkit-animation: loading-40 1.0s linear forwards 1.0s;
          animation: loading-40 1.0s linear forwards 1.0s;
}

.progress.blue.progress-30 .progress-left .progress-bar {
  -webkit-animation: loading-30 1.0s linear forwards 1.0s;
          animation: loading-30 1.0s linear forwards 1.0s;
}

.progress.blue.progress-20 .progress-left .progress-bar {
  -webkit-animation: loading-20 1.0s linear forwards 1.0s;
          animation: loading-20 1.0s linear forwards 1.0s;
}

.progress.blue.progress-10 .progress-left .progress-bar {
  -webkit-animation: loading-10 1.0s linear forwards 1.0s;
          animation: loading-10 1.0s linear forwards 1.0s;
}

.progress.blue.progress-0 .progress-left .progress-bar {
  -webkit-animation: loading-0 1.0s linear forwards 1.0s;
          animation: loading-0 1.0s linear forwards 1.0s;
}

@-webkit-keyframes loading-100 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-100 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@-webkit-keyframes loading-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
  }
}

@keyframes loading-90 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
  }
}

@-webkit-keyframes loading-80 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@keyframes loading-80 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}

@-webkit-keyframes loading-70 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@keyframes loading-70 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(126deg);
    transform: rotate(126deg);
  }
}

@-webkit-keyframes loading-60 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}

@keyframes loading-60 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}

@-webkit-keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes loading-50 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@-webkit-keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}

@keyframes loading-40 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}

@-webkit-keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
  }
}

@keyframes loading-30 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(54deg);
    transform: rotate(54deg);
  }
}

@-webkit-keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@keyframes loading-20 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}

@-webkit-keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
}

@keyframes loading-10 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(18deg);
    transform: rotate(18deg);
  }
}

@-webkit-keyframes loading-0 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes loading-0 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 990px) {
  .progress {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  nav {
    padding: 1em 4em !important;
  }
  .nav-item {
    margin: 0 0 0 35px;
  }
  .navbar-brand {
    font-size: 22px;
  }
}

@media (max-width: 991px) and (min-width: 300px) {
  .nav-item {
    text-align: right;
  }
  .conteiner {
    padding: 1em 1.1em;
  }
  .conteiner .card {
    margin-bottom: 20px;
  }
  .navbar-brand {
    font-size: 25px;
  }
  .divimg {
    width: 40%;
  }
  .divimg img {
    border-radius: 100%;
    width: 50%;
    margin-left: 22% !important;
  }
  #first {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 25px;
  }
  #second {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  #third {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background-color: #606265;
    padding: 0 30px 102px 30px;
  }
  .container-fluid .h11 {
    margin: 30px 0 30px 20px;
  }
  #first p {
    padding: 00px 15px 10px 15px;
    font-size: 17px;
  }
  .container-fluid .divimg img {
    border-radius: 100%;
    width: 100%;
    margin-bottom: 0px;
  }
}

.fab-redes {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(50%, #3333df), to(#c9c9c9));
  background: linear-gradient(to top right, #3333df 50%, #c9c9c9);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 15px 16.5px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
/*# sourceMappingURL=about.css.map */